{% extends "template.html" %}
{% block conteudo %}
			<!-- start banner Area -->
			<section class="banner-area relative" id="home">			
				<div class="slider"><div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
				        <div class="carousel-inner" role="listbox">
				          <!-- Slide One - Set the background image for this slide in the line below -->
				          <div class="carousel-item active" style="background-image: url({{ url_for('static', filename='img/imagem.jpg') }})">
				            <div class="carousel-caption d-md-block">
				              <h2 class="text-uppercase title-header">PLANTSAT</h2>
				              <p class="text-description">
								NÓS SABEMOS O QUE VOCÊ CULTIVA	
				              </p>
				            </div>
				          </div>
				      </div>
				</div>
			</section>
			<!-- End banner Area -->	


			<!-- Start About Area -->
			<section class="About-area section-gap" id="about">
				<div class="container">
					<div class="row d-flex align-items-center">
						<div class="col-lg-6 about-left">
							<img class="img-fluid" src="{{ url_for('static', filename='img/about-img.jpg') }}" alt="">
						</div>
						<div class="col-lg-6 about-right">
							<h1>
								O <b>PlantSat</b> é um software de identificação de culturas em imagens de satélite.
							</h1>
							<p style="font-color:black; font-size:1.3em;">
								Para que nosso produdo se tornasse realidade, utilizamos Machine Learning para identificar a cultura cultivada. Machine Learning é um vertente da inteligência artificial que se baseia na ideia de que sistemas podem aprender com dados, identificar padrões e tomar decisões
							</p>
						</div>
					</div>
				</div>	
			</section>
			<!-- End About Area -->



			<!-- Start blog Area -->
			<section class="gallery-area section-gap" id="blog">
				<div class="container">
					<div class="row justify-content-center">
						<div class="col-md-8 pb-30 header-text">
							<h1 class="text-white">Como funciona?</h1>
						</div>
					</div>
					<div class="row">	
						<div class="single-blog col-lg-4 col-md-4">
							<center>
							<div style="max-width:150px;">
								<img class="info-img" src="{{ url_for('static', filename='img/map.png') }}" alt="">
							</div>
							<h4 class="text-white">
								<a>Digite o endereço do local a ser analisado</a>
							</h4>
								</center>
						</div>
					<div class="single-blog col-lg-4 col-md-4">

							<center>
							<div style="max-width:150px;">
								<img class="info-img" src="{{ url_for('static', filename='img/layers.png') }}" alt="">
							</div>
							<h4 class="text-white">
								<a >Nosso algoritmo dividirá o mapa em camadas e verificará camada por camada, para descobrir o tipo de plantação</a>
							</h4>
								</center>
						</div>
						<div class="single-blog col-lg-4 col-md-4">
							<center>
							<div style="max-width:150px;">
								<img class="info-img" src="{{ url_for('static', filename='img/leaf.png') }}" alt="">
							</div>
							<h4 class="text-white">
								<a >E pronto. Vamos te retornar a cultura cultivada.</br>Simples e rápido</a>
							</h4>
							</center>
						</div>
					</div>
				</div>	
			</section>
			<!-- end blog Area -->	


						<!-- Start callto Area -->
			<section class="callto-area pt-100 pb-100">
				<div class="container">
					<div class="row">
						 <div class="col-lg-9 callto-left">
						 	<h1 class="text-uppercase">E aí, bora testar?</h1>
						 </div>
						 <div class="col-lg-3 callto-right">
						 	<a href="#" class="genric-btn primary radius text-uppercase">CLIQUE AQUI</a>
						 </div>
					</div>
				</div>
			</section>
			<!-- End callto Area -->

{% endblock conteudo %}
