{% extends "template.html" %}
{% block conteudo %}

{# Topo da página #}
<section class="banner-area-map relative" id="home">
    <div class="slider"><div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner" role="listbox">
            <div class="carousel-item active" style="background-image: url({{ url_for('static', filename='img/imagem.jpg') }}); max-height:350px">
                <div class="carousel-caption d-md-block">
                    <h2 class="title-header-map">Identifique a Cultura</h2>
                </div>
            </div>
        </div>
        </div>
    </div>
</section>
{# Inclui mensagens do flask #}
{% include "flash.html" %}

{# Sessão com informações da pagina#}
<section class="About-area section-gap" id="mapa" style="margin-top:5%; padding-top:0px">
    <div class="container">
        <div class="row d-flex">
            <div class="col-lg-6 col-md-6" style="margin-top:0px; padding-top:0px">
            {# Tela 2 - Tela com inputs, mapa e botão processar #}
                {{movingmap.js}}<p>{{movingmap.html}}</p>
            </div>
            <div class="col-lg-6 col-md-6" style="margin-top:2%; padding-top:0px">
                <form>
                    {# Tela 1 - Tela com inputs e botão de busca #}
                    <h3 class="mb-30">Digite o endereço:</h3>
                    <div class="mt-10">
                        <input type="text" value="{{endereco_salvo}}" name="endereco" placeholder="Digite o endereço" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Digite o endereço'" class="single-input-primary">
                    </div>
                    <div class="mt-10">
                        <h3 class="mb-30">ou, digite a logitude e latitude:</h3>
                        <input style="margin-bottom:5px;"type="text" value="{{latitude}}" name="latitude" placeholder="Digite a latitude" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Digite a latitude'" class="single-input-primary">
                        <input type="text" value="{{longitude}}" name="longitude" placeholder="Digite a longitude" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Digite a longitude'" class="single-input-primary">
                    </div>
                    <div class="mt-10">
                        <button type="submit" onclick="valida_form()" class="btn btn-outline-success btn-lg btn-block">Buscar</button>
                    </div>
                    {% if processar %}
                    <div class="mt-10">
                        <button type="submit" value="{{ 'processar' if processar else '' }}" name="processar" onclick="valida_form()" class="btn btn-success btn-lg btn-block">Processar</button>
                    </div>
                    {% endif %}
                </form>
            </div>
        </div>
        </div>
    </div>
</section>

{% endblock conteudo %}